<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/modernizr.js"></script>
    <title>Tabpole</title>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        {% block contents %}{% endblock %}
      </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
